.image{
    display: block;
    margin: auto;
    width: 250px;
    height: 90px;
}
h2{
    margin: 10px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    background-image: linear-gradient(red,blue);
    height: 100vh;
}
.container{
    width: 410px;
    height: 400px;
    margin: auto;
    /*background-color: aquamarine;*/
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 23px;
    margin-top: 20px;
    overflow-y: auto;
    border-radius: 20px;
}
.left{
    float: left;
    clear: both;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
}

.right{
    float: right;
    clear: both;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
}
.send{
    text-align: center;
    
}
#messageinp{
    width: 340px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 4px 20px;
}
.btn
{
    height: 25px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
}